
/* author: Edgar M. Cabanguisan Jr. */

* {
    font-family: 'Roboto', sans-serif;
}

.container-fluid .row .left-col {
    background-color: #1f1f1f;
}

.container-fluid .row .right-col {
    background-color: #242424;
}

.container-fluid .main-row .left-col .left-panel {
    height: 100vh;
    padding-top: 40px;
}

.main-row .left-col .left-panel .logo-box {
    height: 44px;
    width: 148px;
    margin: auto;
}

.left-col .left-panel .upper-list {
    margin-top: 60px;
    padding-left: 10px;
}

.left-col .left-panel .upper-list a {
    display: block;
    font-size: 17px;
    color: #fff;
    text-decoration: none;
}

.left-col .left-panel .upper-list a:hover {
    color: #01D88A;
}

.left-panel .upper-list #uploadMusic {
    font-size: 20px;
    font-weight: bold;
    color: #01D88A;
    margin-bottom: 10px;
}

.left-panel .upper-list #uploadMusic:hover {
    color: #f1f1f1;
}

.left-col .left-panel .lower-list {
    margin-top: 60px;
    padding-left: 10px;
    height: 500px;
}

.left-col .left-panel .lower-list a {
    display: block;
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 25px;
}

.left-col .left-panel .lower-list a:hover {
    color: #01D88A;
}

.left-panel .lower-list #createPlaylist {
    font-size: 20px;
    font-weight: bold;
    color: #01D88A;
    margin-bottom: 10px;
}

.left-panel .lower-list #createPlaylist:hover {
    color: #f1f1f1;
}




.container-fluid .main-row .right-col .right-panel {
    height: 100vh;
    position: relative;
}

.container-fluid .main-row .right-col {
    padding: 0% !important;
}

.main-row .right-col .right-panel .search {
    width: 100%;
    height: 90px;
    padding-top: 35px;
    padding-left: 25px;
}

.main-row .right-col .right-panel .search-field {
    border: 2px solid #9c9c9c;
    border-radius: 0% !important;
    background-color: #242424;
    color: #fff;

    width: 276px;
}

.right-col .right-panel .search-field::placeholder {
    color: #fff;
}

.right-col .right-panel .songs-panel {
    color: #fff;
    position: relative;
    height: 530px;
}

.right-col .right-panel .songs-panel h2 {
    color: #fff;
    padding-left: 25px;
    margin-bottom: 35px;
}

.right-col .right-panel .songs-panel .songs-table {
    background-color: #222222;
    margin-top: 120px;
    height: 380px;
    overflow-y: scroll;
}

.right-col .right-panel .songs-panel .songs-table::-webkit-scrollbar {
    width: 10px;
}

.right-col .right-panel .songs-panel .songs-table::-webkit-scrollbar-track {
    background-color: #222222;
}

.right-col .right-panel .songs-panel .songs-table::-webkit-scrollbar-thumb {
    background-color: #6bc5a4;
    border-radius: 50px;
}

.right-col .right-panel .songs-panel .songs-table table {
    height: 380px;
    width: 100%;
}

.songs-panel .songs-table table tbody {
    margin-top: 100px;
}

.songs-panel .songs-table table thead tr th {
    width: 100px;
    padding-top: 15px;
}

.songs-panel .songs-table table tbody tr td {
    padding-top: 30px;
}

.songs-panel .songs-table table thead tr #play-col {
    width: 50px;
}

.songs-panel .songs-table table tbody tr #play-btn {
    color: #fff;
    font-size: 20px;
    padding-left: 40px;
}

.songs-panel .songs-table table tbody tr #play-btn:hover {
    color: #01D88A;
    transition: 1s;
}


.main-row .right-col .right-panel .bottom-panel {
    position: absolute;
    bottom: 0;
    padding-top: 28px;
    width: 100%;
    height: 150px;
    background-color: #1f1f1f;
}

.right-col .right-panel .bottom-panel .music-controls-panel {
    width: 808px;
    margin: auto;
}

.bottom-panel .music-controls-panel .progress {
    height: 16px;
    border-radius: 50px;
}

.bottom-panel .music-controls-panel .progress .music-track-progress {
    width: 100%;
    height: inherit;
    appearance: none;
}

.bottom-panel .music-controls-panel .progress .music-track-progress::-webkit-progress-value {
    background-color: #01D88A;
}

.right-panel .bottom-panel .music-controls-panel .music-controls-box {
    margin: auto;
    width: 240px;
    display: flex;
    justify-content: center;
}

.bottom-panel .music-controls-panel .music-controls-box .control-btn {
    color: #fff;
    font-size: 29px;
    padding: 10px;
}

.bottom-panel .music-controls-panel .music-controls-box .control-btn:hover {
    color: #01D88A;
}


/* upload music modal */

.upload-music-modal {
    margin-top: 15%;
}

.upload-music-modal .upload-music-dialog .upload-content {
    border-radius: 0%;
    border: 1px solid #555555;
    background-color: #1f1f1f;
}

.upload-music-modal .upload-music-dialog .upload-content .upload-title {
    color: #fff;
}

.upload-music-modal .upload-music-dialog .upload-content .upload-body {
    background-color: #2f2f2f;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 35px;
    height: 106px;
}

.upload-music-modal .upload-music-dialog .upload-content .upload-body label {
    color: #fff;
    font: 17px;
    margin: 25px 35%;
}

.upload-music-modal .upload-music-dialog .upload-content .upload-footer .btn-upload {
    width: 116px;
    height: 35px;
    border: none;
    border-radius: none;
    color: #141414;
    font-size: 16px;
    font-weight: bold;
    background-color: #01D88A;
    margin-right: 10px;
}

.upload-music-modal .upload-music-dialog .upload-content .upload-footer .btn-cancel {
    width: 116px;
    height: 35px;
    border: 1.5px solid #5c5c5c;
    border-radius: none;
    color: #fff;
    font-size: 16px;
    background-color: #1f1f1f;
}

.upload-music-modal .upload-music-dialog .upload-content .modal-header, .modal-body, .modal-footer {
    border: none !important;

}


/* create playlist modal */

.create-playlist-modal {
    margin-top: 15%;
}

.create-playlist-modal .create-playlist-dialog .playlist-content {
    border-radius: 0%;
    border: 1px solid #555555;
    background-color: #1f1f1f;
}

.create-playlist-modal .create-playlist-dialog .playlist-content .playlist-title {
    color: #fff;
}

.create-playlist-modal .create-playlist-dialog .playlist-content .playlist-body .playlist-input {
    border-radius: 0%;
    border: 1px solid #767676;
    background-color: #242424;
    color: #fff;
}

.create-playlist-modal .create-playlist-dialog .playlist-content .playlist-footer .btn-create {
    width: 116px;
    height: 35px;
    border: none;
    border-radius: none;
    color: #141414;
    font-size: 16px;
    font-weight: bold;
    background-color: #01D88A;
    margin-right: 10px;
}

.create-playlist-modal .create-playlist-dialog .playlist-content .playlist-footer .btn-cancel {
    width: 116px;
    height: 35px;
    border: 1.5px solid #5c5c5c;
    border-radius: none;
    color: #fff;
    font-size: 16px;
    background-color: #1f1f1f;
}

.create-playlist-modal .create-playlist-dialog .playlist-content .playlist-body {
    border-top: none !important;
}

.create-playlist-modal .create-playlist-dialog .playlist-content .playlist-header, .playlist-body, .playlist-footer {
    border: none !important;
}

