<!-- author: Edgar M. Cabanguisan Jr. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="decor.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="bootstrap-3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-3.4.1/js/bootstrap.min.js">
    <script src="jquery/jquery-3.3.1.min.js"></script>
    <script src="jquery/jquery-3.5.1.min.js"></script>

    <link rel="icon" type="x-image/icon" href="mp3-logo.png">
    <title>Museec</title>

    <script src="https://unpkg.com/vue@3.0.2"></script>
    
    <style>
        .progress .music-track-progress::-webkit-progress-bar {
            background-color: #fff;
        }
    </style>
</head>
<body>

    <!-- main page content -->
    <div class="container-fluid" id="museec-app">
        
        <div class="main-row row no-gutters">
            
            <div class="left-col col-sm-3">
                <div class="left-panel float-left">
                    <div class="logo-box">
                        <img src="mp3-logo.png" id="logo" alt="Museec">
                    </div>

                    <div class="upper-list">
                        <a href="#" id="uploadMusic" data-toggle="modal" data-target="#uploadMusicModal">Upload Music</a><br>
                            
                        <a href="#" @click="title = 'All Songs', allSongsDisplayed = true">All Songs</a>

                    </div>

                    <div class="lower-list">
                        <a href="#" id="createPlaylist" data-toggle="modal" data-target="#createPlaylistModal">Create Playlist</a><br>
                        
                        <a href="#" v-for="playlist in playlists" @click="title = playlist,
                            allSongsDisplayed = false, selectedPlaylist = playlist">{{ playlist }}</a><br>
                    </div>
                </div>
            </div>
            
            <div class="right-col col-sm-9">
                <div class="right-panel float-right">
                    <div class="search">
                        <input type="text" class="search-field form-control" placeholder="Search">
                    </div>

                    <div class="songs-panel">
                        <h2>{{ title }}</h2>

                        <div class="songs-table">
                            <table>
                                <thead>
                                    <tr>
                                        <th id="play-col"></th>
                                        <th>Title</th>
                                        <th>Artist</th>
                                        <th>Album</th>
                                        <th>Duration</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="song-item-row" v-if="allSongsDisplayed" v-for="song in songs">
                                        <td><a href="#" id="play-btn"><span class="glyphicon glyphicon-play"></span></a></td>
                                        <td>{{ song.title }}</td>
                                        <td>{{ song.artist }}</td>
                                        <td>{{ song.album }}</td>
                                        <td>{{ song.duration }}</td>
                                    </tr>
                                    <tr id="song-item-row" v-if="!allSongsDisplayed" v-for="song in songsInSelectedPlaylist(selectedPlaylist)">
                                        <td><a href="#" id="play-btn"><span class="glyphicon glyphicon-play"></span></a></td>
                                        <td>{{ song.title }}</td>
                                        <td>{{ song.artist }}</td>
                                        <td>{{ song.album }}</td>
                                        <td>{{ song.duration }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="bottom-panel">
                        <div class="music-controls-panel">
                            <div class="progress">
                                <progress class="music-track-progress" value="35" max="100"></progress>
                            </div>
                            <div class="music-controls-box">
                                <a href="#" class="control-btn"><span class="glyphicon glyphicon-backward"></span></a>
                                <a href="#" class="control-btn"><span class="glyphicon glyphicon-play"></span></a>
                                <a href="#" class="control-btn"><span class="glyphicon glyphicon-forward"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <!-- upload music modal -->
    <div id="uploadMusicModal" class="upload-music-modal modal" role="dialog">
            
        <div class="upload-music-dialog modal-dialog">
            <div class="upload-content modal-content">

                <div class="upload-header modal-header">
                    <p class="upload-title modal-title">Upload Music</p>
                </div>

                <div class="upload-body modal-body">
                    <label>Drag and Drop files here</label>
                </div>

                <div class="upload-footer modal-footer">
                    <button class="btn-upload" data-dismiss="modal">Upload</button>
                    <button class="btn-cancel" data-dismiss="modal">Cancel</button>
                </div>

            </div>
        </div>

    </div>


    <!-- create playlist modal -->
    <div id="createPlaylistModal" class="create-playlist-modal modal" role="dialog">
        <div class="create-playlist-dialog modal-dialog">
        
            <div class="playlist-content modal-content">

                <div class="playlist-header modal-header">
                    <p class="playlist-title modal-title">Create Playlist</p>
                </div>

                <div class="playlist-body modal-body">
                    <input type="text" class="playlist-input form-control">
                </div>

                <div class="playlist-footer modal-footer">
                    <button class="btn-create" data-dismiss="modal">Create</button>
                    <button class="btn-cancel" data-dismiss="modal">Cancel</button>
                </div>

            </div>

        </div>
    </div>


    <script src="museec-vue-script.js"></script>
</body>
</html>