
body {
    background-image: url("https://koa.com/blog/images/scouts-Pixabay.jpg?preset=blogPhoto");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #151515;
}

.layer {
    background-color: #151515;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -1;
}

.navigation {
    margin: 1%;
    z-index: 1;
}

.navigation a {
    color: white;
    font-size: 18px;
}

.btn-toggle {
    color: white;
    font-size: larger;
}

.learnTo {
    background-color: rgba(60, 144, 191, 0.44);;
    color: white;
    border: none;
    border-radius: 0%;
    opacity: 0.9;
    margin-right: 18px;
}

.login {
    background-color: #3C90BF;
    color: white;
    border: none;
    border-radius: 0%;
}

.jumbo {
    color: white;
    text-align: center;
    background-color: transparent;
    margin-top: 5%;
}

.jumbo h1 {
    font-size: 80px;
    text-align: center;
}

footer {
    margin-left: 40px;
    position: fixed;
    left: 0%;
    bottom: 2%;
}

footer h4 {
    color: white;
}
